@charset "utf-8";
/ * CSS Document */
body 


h1, h2, h3 {
    margin: 0px;   
    padding: 0px;
}

#container {
    background-color: darkolivegreen;
    width: 1315px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}


.header { 
    text-align:center;
    }


h5{
    
    float: left;
    margin-left: 630px;
    margin-top: 5px;
}


blog {
    float:left;
    background-color: darkgreen;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color:greenyellow;
    width: 92.5%;
}

article {
  background-color: green;
}



article h3 {
        float: left;
        width: 95%;
        background-color: darkkhaki;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
        margin-top: -20px;
}

article h4 {
        float: left;
        width: 97%;
        height: 1px;
        background-color: darkkhaki;
        padding: 20px;
        margin-top: 0px;
        font-size: 15px;
}


table{
    background-color: darkkhaki;
    width: 100%;
    float: right;
}




.topnav a {
    float: left;
    background-color: darkkhaki;
    display:block;
    margin: 0px;
    color:black;
    text-align:center;
    padding:  30px 70px;
    text-decoration: none;
}

.topnav li {      
    list-style: none; 
}

.topnav ul{
    float: left
}

.topnav ul li {
    float: left;
    list-style: none;
    position: relative;
}

.topnav ul li ul{
   display: none;
    position: absolute; 
    background-color: #bcc7db;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
    z-index: 1000;
    }



.slider_image {
    width: 91%;
    height:800px;
    flex: 70%;
    flex-wrap: wrap;
    display: flex;
    background-color: darkkhaki;
    padding: 60px;
}


.flex-container2{
    
    display:block
    background-color:darkkhaki;
    justify-content: center;
    clear: both;

}

.flex-container2 
{
    background-color:darkkhaki;
    height: 1000px;
    text-align:center;
    font-size: 16px;
    
}




.flex-containbner{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    clear: both;
    
}



.flex-container> div{
    
    width: 200px;
    color:white;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
 
    
}



.flex-container3{
    display: flex;
   flex-wrap:wrap;
    justify-content: center;
    clear: both;
    list-style:decimal;
}



.flex-container3> div
{
    height: 300px;
    width: 300px;
    background-color: darkkhaki;
    margin: 0px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
    flex: 35%;
    flex-wrap: wrap;
    display: flex;

}





.flex-container4{
    display: flex;
   flex-wrap:wrap;
    justify-content: center;
    clear: both;
    list-style:decimal;
}



.flex-container4> div
{
    height: 500px;
    width: 300px;
    background-color: darkkhaki;
    margin: 0px;
    text-align: center;
    line-height: 25px;
    font-size: 30px;
    flex: 35%;
    flex-wrap: wrap;
    display:flow-root;

}












.footer 
{
     text-align:left;
}



.flex-container > div {
    background-color:darkolivegreen;
    color:black;
    width:70%;
    margin: 2px;
    text-align:center;
    line-height:2px;
    font-size:15px; 
}



.flex-container {
    display: flex;
    background-color: darkkhaki;
    justify-content: center;
    clear: both;
}


.carousel-wrapper{
    height: 550px;
    position:relative;
    width: 1312px;
    margin: 0 auto;

}


.carousel-item{
   position: absolute;
   top:50px;
   bottom:5px;
   left: 0;
   right: 0;
   padding: 20px 20px;
   opacity: 0;
   transition: all 0.5 ease-in-out;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
   left:-30px;
   position: absolute;
   top: 50%;
   transform: translateY(-50%) rotate(135deg);
}

.arrow-next{
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.light{
    color:darkkhaki;
}

@media (max-width: 480px){
    .arrow, .light .arrow{
    background-size: 10px;
    background-position: 10px 50%;
    }
    }  


[ id^="item"] {
    display:none;
}

.item-1{
   z-index: 2;
    opacity: 1;
    background: url(IMAGES/Index1.jpg);
    background-size: cover;
}

.item-2{
    background: url(IMAGES/Index2.jpg);
    background-size: cover;
}

.item-3{
    background:url(IMAGES/Index4.jpg);
    background-size: cover;
}

*:target~ .item-1 {
    opacity: 0;
}

#item-1:target ~ .item-1 {
     opacity: 1;
}

#item-2:target~ .item-2, #item-3:target ~ ,item-3{
    z-index: 3;
    opacity: 1;
}























